<!DOCTYPE html>
<html>
<head>
  <title>Do you hate JS?</title>
  <%= stylesheet_link_tag bootstrap_css %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
